@model MusicShopAttempt.Models.ProductVM
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using Microsoft.AspNetCore.Identity;
@using MusicShopAttempt.Data;

@{ ViewData["Title"] = "Details"; }

<h1>Детайли</h1>

<form class="row" asp-controller="OrderDetails" asp-action="Create" method="post">

    <div class="col-lg-6 col-12">
        <div class="product-thumb">
            <img src="~/images/@Html.DisplayFor(model => model.Picture)" class="img-fluid product-image" alt="">
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <div class="product-info d-flex">
            <div>
                <h2 class="product-title mb-0">@Html.DisplayFor(model => model.Title)</h2>
                <p class="product-p">@Html.DisplayFor(model => model.SingerNow.SingerName)</p>
                <p class="product-p">@Html.DisplayFor(model => model.Category)</p>
                <p class="product-p">@Html.DisplayFor(model => model.GenreNow.GenreName)</p>
                <p class="product-p">@Html.DisplayFor(model => model.Status)</p>
                <p class="product-p">@Html.DisplayFor(model => model.Holder)</p>
                <p class="product-p">@Html.DisplayFor(model => model.EntryDate)</p>

            </div>

            <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Price)</small>
        </div>

        <div class="product-description">
            <strong class="d-block mt-4 mb-2">Описание</strong>
            <p class="lead mb-5"><p class="product-p">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <input type="submit" value="Добави в кошницата"/>
        <button value="Finalise" asp-controller="OrderDetails" asp-action="Index">Поръчай</button>
    </div>
</form>


<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
<a asp-action="Edit" asp-route-id="@Model.Id">Редактиране</a>
                <a asp-action="Delete" asp-route-id="@Model.Id"> Изтриване </a>}
    <a asp-action="Index">Назад</a>
</div>
