@model MusicShopAttempt.Data.Product

@{ ViewData["Title"] = "Details"; }


<h1>Details</h1>

<section class="product-detail section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="product-thumb">
                    <img src="~/images/@Html.DisplayFor(model => model.Picture)"  class="img-fluid product-image" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="product-info d-flex">
                    <div>
                        <h2 class="product-title mb-0">@Html.DisplayFor(model => model.Title)</h2>
                        <p class="product-p">@Html.DisplayFor(model => model.Singer.SingerName)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.Category)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.Genre.GenreName)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.Status)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.Holder)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.Quantity)</p>
                        <p class="product-p">@Html.DisplayFor(model => model.EntryDate)</p>

                    </div>

                    <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Price)</small>
                </div>

                <div class="product-description">
                    <strong class="d-block mt-4 mb-2">Description</strong>
                    <p class="lead mb-5"><p class="product-p">@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="product-cart-thumb row">
                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <button type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
