@model MusicShopAttempt.Models.ProductVM
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using Microsoft.AspNetCore.Identity;
@using MusicShopAttempt.Data;

@{ ViewData["Title"] = "Details"; }

<h1>Детайли</h1>

<form class="row" asp-controller="OrderDetails" asp-action="Create" method="post">

    <div class="col-lg-6 col-12">
        <div>
            <img class="card-img-top" src="~/images/@Html.DisplayFor(model => model.Picture)" alt="">
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <div class=" d-flex">
            <div>
                <h2 class="mb-0">@Html.DisplayFor(model => model.Title)</h2>
                <p>@Html.DisplayFor(model => model.Price)</p>
                <p>@Html.DisplayFor(model => model.SingerNow.SingerName)</p>
                <p>@Html.DisplayFor(model => model.Category)</p>
                <p>@Html.DisplayFor(model => model.GenreNow.GenreName)</p>
                <p>@Html.DisplayFor(model => model.Status)</p>
                <p>@Html.DisplayFor(model => model.Holder)</p>
                <p>@Html.DisplayFor(model => model.EntryDate)</p>
            </div>
        </div>

        <div>
            <strong class="d-block mt-4 mb-2">Описание</strong>
            <p class="lead mb-5">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <input type="submit" value="Добави в кошницата"/>
        <button value="Finalise" asp-controller="OrderDetails" asp-action="Index">Поръчай</button>
    </div>
</form>


<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
     {
       <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>
       <a asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-2x fa-trash" aria-hidden="true"></i></a>
     }
       <a asp-action="Index"><i class="fa fa-2x fa-reply" aria-hidden="true"></i></a>
</div>
